body{
  background-color: azure;
}
.shopTitle {
  margin-top: 80px auto 60px ;
  text-align: center;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr;
  place-items: center;
}

.product {
  border-radius: 15px;
  width: 250px;
  height: 200px;
  margin: 100px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}
.product:hover{
  transform: scale(1.2); 
}
.product img {
  width: 200px;
}

.product .description {
  text-align: center;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}
